body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212529;
    color: white;
}

header {
    background-color: #702cf7;
    color: white;
    padding: 0 60px;
    display: flex;
    align-items: center;
    
}

nav {
    display: flex;
    margin: 10px 0 10px 60px;
    align-items: center;
}

nav i{
    color: white;
    font-size: 34px;
}
nav ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
 
}

form {
    flex: 1;
    margin-left: 80px;
}
.search-bar {
    position: relative;
    width: 280px;
}
.search-bar input{
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #d1c9e8;
    border-radius: 8px;
    background-color: #6227da;
}
.search-bar input::placeholder {
    color: #d1c9e8; 
}
.search-bar i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #d1c9e8;

}


main {
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-section {
    text-align: center;
    width: 50%;
    margin-bottom: 30px;
}
.intro-section img{
    width: 200px;
    height: auto;
   
}
.intro-section h1 {
    font-size: 50px;
    margin-bottom: 15px;
}
.intro-desc {
    font-size: 21px;
    color: #aeb1b4;
}

.npm-cont{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
   
    
}
.npm-input{
    display: flex;
    align-items: center;
    background-color: #303337;
    border: 1px solid #3b3e42;
    border-radius: 5px;
    padding: 0 10px;
}
.npm-input input[type="text"] {
    padding: 16px 10px;
    width: 200px;
    border: none;
    background-color: #303337;
    color: white;
    font-family:'Courier New', Courier, monospace;
    
}
.npm-input span {
    align-self: center;
    color: #aeb1b4;
    font-family:'Courier New', Courier, monospace;
    margin-right: 6px;
}

.npm-cont input[type="submit"] {
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    background-color: #702cf7;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.intro-links{
    margin-top: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
    color: #aeb1b4;
    font-size: 14px;
}
.intro-links a {
    color: #aeb1b4;
}



.setup-section {
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.code-angle{
    background-color: #29253f;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.code-angle i{
    color: #702cf7;
    font-size: 28px;
    
   
}
.setup-section h2 {
    font-size: 36px;
    margin-bottom: 15px;
}
.setup-desc {
    font-size: 16px;
    color: #aeb1b4;
}
.setup-section a {
    color: #6ea8fe;
    text-underline-offset: 3px;

}