*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    }
body{
    background-color: black;
    color: white;
    
    }

header{
    color: #ff8fab;
    text-align: center;
    background-color: white;
    padding: 20px;
    }

nav ul{
    list-style-type: none;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    }

nav ul a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    }
nav ul a:hover{
    background-color: gray;
    color: white;
    }

main{
        padding: 20px;
    }
section{
        margin-bottom: 40px;
    }

.aboutme{
        display: block;
        margin-top: 20px;
        padding: 40px;
        gap: 20px;
        border: 1px solid white;
        border-radius: 5px;
        width: 60%;
        margin: auto;
    }
.aboutme h2{
        text-align: center;
        line-height: 24px;
        margin-bottom: 10px;
    }
.aboutme p{
        text-align: center;
        line-height: 1.6;
    }
.aboutme img{
        display: block;
        margin: 10px auto;
        width: 200px;
        height: auto;
        border-radius: 10px;
    }

.projects{
        margin-top: 20px;
        padding: 20px;
        text-align: center;
    }
.projects h2{
        margin-bottom: 10px;
    }
table{
        margin-top: 10px;
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        border-radius: 5px;
    }
td, th {
        border: 1px solid gray;
        text-align: left;
        padding: 8px;
      
    }
tr:hover {
    background-color: #222; 
}

.contact{
        margin-top: 20px;
        padding: 10px;
        width: 40%;
        margin: auto;
        margin-bottom: 30px;
}
.contact h2{
        text-align: center;
        margin-bottom: 10px;
    }
form{
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: 1px solid white;
        padding: 20px;
        border-radius: 5px;
    }
input, textarea{
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: black;
        color: white;
    }

button{
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: #ff8fab;
        color: white;
        cursor: pointer;
    }
button:hover{
        background-color: #b57585 ;
        color: black;
    }

footer{
        text-align: center;
        padding: 10px;
        border-top: 1px solid white;
        color: white;
        padding: 20px;
    }