body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 200px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.card h1{
    font-size: 18px;
    margin: 10px 0 5px 0;
    padding: 0;
}

.card p{
    font-size: 14px;
    text-align: center;
}




@media (max-width: 480px) {
    body{
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 481px) and (max-width: 1023px) {
    .card{
        max-width: 50%;
    }
}

@media (min-width: 1024px) {
    .card{
        max-width: 30%;
    }
}