body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
}

main{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: fit-content;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#bank-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
    padding: 30px;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid black;
    gap: 0;
}
.bank-card h2{
    margin: 0;
}


form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
}

form label{
    font-weight: 500;
    margin-top: 10px;
}
form input{
    height: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
}

#bank-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
button{
    width: fit-content;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}
button:hover{
    background-color: #ccc;
}

h3{
    color: green;
    margin-top: 20px;
}