body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 400px;
    height: 700px;
    background-color: white;
    border: 1px solid black;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 20px 10px;
    width: 300px;
    border-radius: 10px;
    background-color: #ccc;
    gap: 0;
}
div h2{
    margin: 0;
}
div img{
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
}
button{
    width: fit-content;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
form label{
    font-weight: 500;
    margin-top: 10px;
}
form input{
    height: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 5px;
}
form input[type="color"]{
    width: auto;
}
button:hover{
    background-color: #ccc;
}