body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2{
    margin: 20px;
    color: white;
    background-color: #0178D3;
    border-radius: 5px;
    padding: 10px;
    
    text-align: center;
}
h3{
    margin: 10px;
    color: green;
    font-size: 16px;
    background-color: #f0f0f0;
    padding: 5px;
    width: 85%;
    border-radius: 5px;
    text-align: center;
}
h3:empty {
    display: none;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 90%;
    margin-bottom: 10px;
} 
form input[type="text"]{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}
form input[type="submit"]{
    width: 100px;
    height: 40px;
    background-color: #0178D3;
    color: white;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: #015a9c;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    gap: 0;
}
div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}
div p{
    margin: 10px;
    font-size: 18px;
}
div button{
    text-align: center;
    cursor: pointer;
    border: none;
    margin: 0 5px 0 5px;
    background-color: red;
    color: white;
    width: fit-content;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
div button:hover{
    background-color: darkred;
}

