body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
img {
    width: 380px;
    height: 420px;
    margin: 10px;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out, transform 0.8s ease;
}