*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header{
    background-color: #25292E;
    color: white;
    margin: auto;
    display: flex;
    
  
    padding: 10px 30px;
    gap: 20px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
header nav ul{
    display: flex;
    gap: 5px;
}
header nav ul li{
    list-style: none;
    padding: 10px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
header form{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.hide-label{
     position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
header form input[type="search"]{
    padding: 5px 34px 5px 34px;
    border-radius: 5px;
    width: 400px;
    border: 1px solid #ccc;
    background-color: transparent;
    
}
header form input[type="search"]::placeholder{
    color: white;
}
header form .search-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;

}
header form .slash-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
}
.header-btns{
    display: flex;
    align-items: center;
    gap: 15px;

}
.signin-btn, .signup-btn{
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}
.signup-btn{
   
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
.signin-btn:hover, .signup-btn:hover{
    background-color: #3b4045;
    transition: background-color 0.3s ease;
}

main{
    padding: 20px 40px;
    position: relative;
    background-color: #0D1117;
    color: white;
    min-height: 600px;
}




.fixed-sub-nav{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #0D1117;
    border-bottom: 1px solid #30363D;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
}
.fixed-sub-nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
.fixed-sub-nav ul li{
    list-style: none;
    padding: 10px;
}
.fixed-sub-nav a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
.highlight-subnav a{
    color: white;
    text-decoration: underline;
    text-decoration-color: #1074E7;
    text-decoration-thickness: 2px;
    text-underline-offset: 20px;
    display: inline-block;
}


.article-section {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto 50px auto;
}

.article-section h1{
    font-size: 24px;
    margin-bottom: 20px;
    color: #8B98A1;
}
.article-section article{
    width: 100%;
    border: 1px solid #30363D;
    border-radius: 10px;
}
.article-section .main-img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.article-section .article-source{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    gap: 10px;
}
.article-section .article-source img{
    width: 30px;
}
.article-section .article-source span,
.article-section .article-source p{
    font-size: 12px;
    color: #8B98A1;
    margin: 0;
}
 .article-content{
    padding: 10px 30px 20px 30px;
    color: white;
    line-height: 1.7;
    font-size: 16px;
    
}
.article-content h2{
    font-size: 22px;
    color: #1074E7;
}

.collection-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.collection-img {
    width: 150px;
    height: 150px;
    border: 1px solid #30363D;
    background-color: #111D2F ;
    border-radius: 5px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-content .article-content{
    padding-left: 0;
    gap: 10px;
}
.collection-content .article-content a{
    color: #1074E7;
    text-decoration: none;
}
.collection-content .article-content p{
    margin-bottom: 20px;
}



.developer-section{
    position: absolute;
    top:70px;
    right: 90px;
    width: 280px;
    border: 1px solid #3A4049;
    border-radius: 10px;
}
.developer-section .developer-head{
    display: flex;

    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    border-bottom: 1px solid #30363D;
    border-radius: 10px 10px 0 0;
    background-color: #151B23;
}
.developer-section .trending-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.developer-section h2{
    font-size: 16px;
    color: white;
}
.developer-section ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.developer-section li{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 10px;
    border-bottom: 1px solid #30363D;
}

.developer-profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.developer-info h3{
    font-size: 16px;
    color: #1074E7;
    margin-bottom: 5px;
}
.developer-info p{
    font-size: 16px;
    color: #8B98A1;
}
.developer-info .repository{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.developer-info .repository img{
    width: 16px;
    height: 16px;
}
.developer-info .repository span{
    font-size: 14px;
    color: #8B98A1;
}
.developer-section .see-more{
    padding: 15px 20px;
}
.developer-section .see-more a{
    text-decoration: none;
    color: #1074E7;
    font-size: 14px;
}



footer{
    background-color: #0D1117;
    color: white;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer img{
    width: 40px;
    height: 40px;
}
footer p{
    font-size: 14px;
    color: #8B98A1;
}
footer ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
footer ul li{
    list-style: none;
    padding: 10px;
    color: #8B98A1;
    font-size: 14px;
}
