body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    gap: 20px;
}

header{
    background-color: #0078d4;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0;
    border-radius: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

form{
    text-align: center;
    width: 100%;
    display: flex;
   
}
input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
input[type="submit"]{
    padding: 10px 16px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    flex-shrink: 0;
}

section{
    width: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
    width: 100%;
}
li{
    background-color: #dbeef4;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#done{
    background-color: #a9d08e;
    text-decoration: line-through;
}
